body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right, #3044da, #bb5f9b);
    font-family: Arial, sans-serif;
}

.todo-box {
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
}

.todo-image {
    width: 50px;
    height: 40px;
    margin-right: 60%;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeeee;
    padding-left: 20px;
    margin-bottom: 25px;
    border: none;
    border-radius: 30px;
}
#todo-input {
    flex: 1;
    padding: 15px;
    margin: 0;
    border: none;
    outline: none;
    background:transparent;
}

#add-todo {
    padding: 15px 30px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 30px;
    cursor: pointer;
   height: 100%;
}

#add-todo:hover {
    background-color: #218838;
}
.done-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.done-btn:hover {
    background-color: #c82333;
}